.contact-panel {
  min-height: calc(100vh - 54px);
  position: absolute;
  right: 0;
  top: 54px;
  width: 50vw;
  z-index: 2;
}

.button-container {
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  .contact-panel {
    width: 100vw;
  }
}